* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ddf5f6;
    font-size: 14px;
    color: #444;
    margin: 0px;
}

.header {
    background-color: #00BCD4;
    color: #ffffff;
}

.header .top-bar {
    padding-top: 15px;
    padding-bottom: 120px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list-inline {
    display: inline;
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.header .social a {
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    /* Круглый */
    border-radius: 50%;
    background-clip: padding-box;
    padding-top: 5px;
    font-size: 16px;
    
}

a:any-link {
    cursor: pointer;
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
}

.text-center {
    text-align: center;
}

.header .intro {
    background: #00a5bb;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    font-size: 16px;
}

.header .profile-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: -80px;
    margin-left: -80px;
}

img {
    vertical-align: middle;
    border: 0;
}

.header .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.header .title {
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.header .profile {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 10px;
}

.header .contact-info {
    background: #008fa1;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}

.header .contact-info ul {
    margin-bottom: 0;
}

.header .contact-info li {
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.header .contact-info li .fa {
    margin-right: 10px;
}

.header .contact-info li a {
    color: rgba(255, 255, 255, 0.8);
}

.page-nav-bar {
    height: 60px;
    position: relative;
}

.page-nav-wrapper {

    background: #007888;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-nav-wrapper .page-nav li a {
    color: rgba(255, 255, 255, 0.6);
}

.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: rgba(228, 243, 21, 0.363);
    padding: 45px;
    background: #fff;
    margin-bottom: 45px;
    border-radius: 2px;
    background-clip: padding-box;
}

.section-title {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 24px;
    text-align: center;
}

.timeline {
    border-left: 3px solid #00BCD4;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
}

.timeline .item {
    margin-bottom: 45px;
}

.timeline .job-info {
    position: absolute;
    left: -280px;
    top: 0;
}

h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.row {
    height: 150px;
}

.item-section {
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33333333%;
}

.eudcation-section > .row > .item-section {
    width: 50%;
}

.education-section .education-subtitle {
    font-size: 18px;
    color: #00BCD4;
    margin-top: 0;
    margin-bottom: 0px;
}

.education-section .education-name {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
}

.education-section .item-inner {
    padding: 0 30px;
}

.skills-section .top-skills {
    margin-bottom: 60px;
}

.skills-section .subtitle {
    font-size: 18px;
    color: #8a8a8a;
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
}

.skills-section .level {
    color: #8a8a8a;
    margin-bottom: 15px;
}

.skills-section .skill-tag {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #6ee8f8;
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
}

.skills-section .skill-tag:hover {
    transform: scale(1.5);
    transition: all 0.5s ease 0s;
}

.testimonials-section .testimonials-carousel {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
    width: 100%;
}

.testimonials-section .quote {
    padding: 0;
    font-size: 22px;
    color: #666;
    font-weight: 300;
    position: relative;
    margin: 0px;
    text-align: left;
}

p {
    line-height: 1.5;
    margin: 0 0 10px;
}


.flex{
    display: flex;
    padding:0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    background-image:url('../img/fb_background.png');
    background-repeat: repeat round;

}

.fb-up{
    flex: 1;
    width: 25%;
    min-width: 25%; 
    max-width: 25%;
    align-items: flex-start;
    text-align: center;
}
.fb-bird{
    flex: 1;
    text-align: center;
    width: 100%;
    min-width: 100%; 
    max-width: 100%;
    margin-bottom: 280px
    
}

.fb-down{
    flex: 1;
    width: 25%;
    min-width: 25%; 
    max-width: 25%;
    align-items: flex-end;
}
.fb-down > span{
    position: relative;
}
.fb-down-img{
    position: absolute;
    bottom: 0px;
    left: 113px;
}

.canada{
    padding:20px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.14);
    margin: 5px;
    margin-bottom:10px;
}
.canada-img{
    width: 100%;
}
.canada{
    position: sticky;
    top:30px;
    background-color: rgba(241, 223, 141,0.5);
}
.canada1{
    transform:rotate(2deg);
}
.canada2{
    transform:rotate(-1deg);
}
.canada3{
    transform:rotate(2deg);
}
.canada4{
    transform:rotate(-1.5deg);
}
.canada5{
    transform:rotate(0.5deg);
}
.canada6{
    transform:rotate(-0.5deg);
}
