.page-header {
    background: rgb(40, 164, 236);
    display: flex;
    height: 200px;
    min-width: 200px;
    align-items: center;
    color: #fff;
    margin: auto;
}


h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 50;
}

div.photo>img {
    width: auto;
    height: auto;
    max-width: 56%;
    max-height: 56%;
    margin: auto;
}

page-header.photo {
    float: left;
    width: 30%;
}

.myself {
    float: center;
    width: 40%;
}

.links {
    float: right;
    width: 30%;
}
.index{
    margin-top: 10px;
    border: 10px dotted #00b5e1 ;
}

.index ul 
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

            }

.index li {
    transition: transform 0.25s ease;
    float: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 10px;
    background-color: #00b5e1;
    list-style: none;
}

.index li:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 10px #0000ff;
    cursor: pointer;
}




.inf {
    background: rgb(245, 244, 223);
    display: flex;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    
}

.ability {
    text-align: center;
    margin-top: 0px;
    border: 10px double rgb(207, 246, 210);
}

.totem {
    float: left;
    width: 25%;
}

.aboutme {
    float: right;
    width: 75%;
}

.inf>.main {
    float: center;
    width: 80%;
    margin-right: 50px;
}

.inf>.ability {
    border: aqua 20px;
    float: right;
    width: 20%;
}

.code {
    font-family: Consolas, "courier new";
    color: rgb(223, 217, 218);
    background-color: #2a2a2a;
    padding: 2px;
    font-size: 105%;
    width: 90%;
}
#code  h2{
    text-align: center;
}

.saying {
    display: inline;
    margin: 0 auto;
}
.saying h2{
    text-align: center;
}
dt{
    display: inline;
    text-align: center;
}
.code h2{
    display: inline;
    text-align: center;
}

blockquote {

    margin: 0 auto;
    margin: 0;
}

blockquote p {

    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}